---
import Layout from '../layouts/Layout.astro';
import Nabar from '../components/Nabar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Contact from '../components/Contact.astro';
import Social from '../components/Social.astro';
import { defaultConfig } from "../config/default";

const { title } = defaultConfig.site;
---

<Layout title={title}>
    <main>
        <Nabar/>
        <div class="container">
            <Hero/>
            <About/>
            <Project/>
            <Contact/>
        </div>
        <Social/>
    </main>

</Layout>

<style>
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
</style>
